*{  margin: 0;
    padding:0;}


body {
    background-color: #2d6a4f;
    
}

.he {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: auto;
    display: flex;
    flex-direction: row;  
    background-color: #1b4332;
}

.logo img {
    background-color: #1b4332;
    width: 6rem;
    height: 6rem;
}

.balanza{
    display: flex;
    justify-content: end;
}
.balanza img {
    position: relative;
    left: 0;
    background-color: #1b4332;
    width: 6rem;
    height: 6rem;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px 10px;

}
.menu li {
    text-align: center;
    padding: 0 1rem;
}
.menu li:hover {
    background-color: aqua;
}
.menu li a {
    
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-style: italic;  
    padding: 5px;
}

.ga {
    margin: 10rem 10rem;
}

.ga img { 
    height: 29rem;
}

.po {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 2rem;
}
.poesia {
    height: auto;
    border: double 3px rgb(60, 231, 60);
    padding: 2rem;
}
.imagenAbogacia {
    display: flex;
    justify-content: center;
}
.imagenAbogacia img {
    margin: 20px 10px;
    width: 19rem;
    height: 19rem;
}

.fo {
    margin-top: 4rem;
}

.fo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.icono { /* iconos del foter */
    width: 60px;
    height: 60px;
}

.icono2 { /* icono del footer */
    width: 180px;
    height: 60px;
}

/* css de perfiles */

.sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10rem;

}
.div1 {
    border: solid 3px black;
    margin: 20px 10px;
    width: 25rem;
    height: auto;
}
.div2 {
    border: solid 3px black;
    margin: 20px 10px;
    height: 100px;
    width: 25rem;
    height: 25rem;
}
.div3 {
    border: solid 3px black;
    margin: 20px 10px;
    width: 25rem;
    height: auto;}

.div4 {
    border: solid 3px black;
    margin: 20px 10px;
    width: 25rem;
    height: 14rem;}

    /* css de contacto */

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 6rem;
}
/* css de ramas legales */

.cont {
    margin-top: 10rem;
        
}

@media screen and (max-width: 769px) {

.he {
    justify-content: center;
}
.logo {
    display: none;
}
.nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px 10px;
}
.menu li {
    border: double 3px rgb(87, 75, 75);
    text-align: center;
    padding: 0 1rem;
    background-color: aqua;
}
.balanza {
    display: none;
}
.ga {
     margin-top: 20 rem 2rem
}
.po {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 4rem 2rem;
     height: auto;
}
.poesia {
    height: 40rem;
    overflow: auto;
}
}

